body,ul,li,h1,h2,h3,h4,div,p,img{
    margin:0;padding:0;
}
li {list-style: none;}
img {border:none}
a {text-decoration:none;}

/*布局*/
body {
    padding:50px;
}
.main {
    width:800px;
    height:270px;
    position:relative;
}
.main a, .main img {
    display: block;
}
.main .btn {
    width:80px;
    height:270px;
    cursor:pointer;
    opacity:0.8;
    position:absolute;
    top:0;
    z-index: 10;
}
.main .left_btn {
    left:0;
    background:url("images/btn_l.png") no-repeat center center;
}
.main .right_btn {
    right:0;
    background:url("images/btn_r.png") no-repeat center center;
}
.list {
    width:800px;
    height:270px;
}
.list .item {
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}
.list .item img {
    width: 100%;
}